
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
    <!-- set the Compatible of your site -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>Botanical - HTML5 Ecommerce Template</title>
	<!-- include the site Google Fonts stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CRoboto:300,400,500,700,900&display=swap" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="~/client/css/bootstrap.css">
	<!-- include the site fontawesome stylesheet -->
	<link rel="stylesheet" href="~/client/css/fontawesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="~/client/css/style.css">
	<!-- include theme plugins setting stylesheet -->
	<link rel="stylesheet" href="~/client/css/plugins.css">
	<!-- include theme color setting stylesheet -->
	<link rel="stylesheet" href="~/client/css/color.css">
	<!-- include theme responsive setting stylesheet -->
	<link rel="stylesheet" href="~/client/css/responsive.css">
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- header -->
		@await Component.InvokeAsync("HeaderComponent")
		<!-- main -->
		<main>
			@RenderBody();
		</main>
		<!-- footer -->
		<footer id="footer" class="overflow-hidden bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-12 copyRightHolder v-II text-center pt-md-3 pb-md-4 py-2">
						<p class="mb-0">Coppyright 2019 by <a href="javascript:void(0);">Botanical Store</a> - All right reserved</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- include jQuery library -->
	<script src="~/client/js/jquery-3.4.1.min.js"></script>
	<!-- include bootstrap popper JavaScript -->
	<script src="~/client/js/popper.min.js"></script>
	<!-- include bootstrap JavaScript -->
	<script src="~/client/js/bootstrap.min.js"></script>
	<!-- include custom JavaScript -->
	<script src="~/client/js/jqueryCustome.js"></script>

	<script src="~/client/js/main.js"></script>


	@await RenderSectionAsync("Scripts", required : false);
</body>
</html>