@using BonsaiShop.SessionSystem;
<div class="sidebar-box product-one-col">
	<div class="search-box">
		<div class="search-input">
			<input class="search-text" placeholder="Nhập thông tin tìm kiếm..." />
			<span class="search-icon"><i class="fa fa-search"></i></span>
		</div>
	</div>

	@await Component.InvokeAsync("ProductCategory")

	<div class="product-box">
		<h4 class="sidebar-header-title text-center">Sản phẩm yêu thích</h4>
		@await Component.InvokeAsync("ProductSession", SessionKey.FAVOURITEPRODUCT)
	</div>
	@*<div class="product-box">
		<h4 class="sidebar-header-title text-center">Sản phẩm vừa xem</h4>
		@await Component.InvokeAsync("ProductSession", SessionKey.RECENTPRODUCT)
	</div>*@
</div>