@using BonsaiShop.SessionSystem;
<div class="sidebar-box product-one-col">
	<div class="search-box">
		<form method="post" asp-action="ProductByCategory" asp-controller="Product">
			<div class="search-input">
				<input class="search-text" name="searchinput" placeholder="Nhập thông tin tìm kiếm..." />
				<span class="search-icon"><i class="fa fa-search"></i></span>
			</div>
		</form>
	</div>

	@await Component.InvokeAsync("SidebarCategory", "product")

	<div class="product-box">
		<h4 class="sidebar-header-title text-center">Sản phẩm yêu thích</h4>
		@await Component.InvokeAsync("ProductSession", SessionKey.FAVOURITEPRODUCT)
	</div>
	@*<div class="product-box">
		<h4 class="sidebar-header-title text-center">Sản phẩm vừa xem</h4>
		@await Component.InvokeAsync("ProductSession", SessionKey.RECENTPRODUCT)
	</div>*@
</div>