@model BonsaiShop.Models.Category;
@{
    ViewData["Title"] = "ListCatePro";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1 class="text-center">Thêm mới danh mục</h1>
</div><!-- End Page Title -->

<section class="section mt-4">

    <div class="form-addnew d-flex">
        <div class="col-md-12">
            <form asp-action="CreateNewCate" asp-area="Admin" asp-controller="Category" class="row" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <label for="inputEmail5" class="form-label">Tên danh mục</label>
                    <input type="text" asp-for="CategoryName" placeholder="Nhập tên danh mục..." class="form-control">
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputName5" class="form-label">Mô tả</label>
                    <input type="text" asp-for="Description" placeholder="Nhập mô tả danh mục"... class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
               
                <div class="col-md-4">
                    <label for="inputAddress5" class="form-label">SeoTitle</label>
                    <input type="text" class="form-control" asp-for="SeoTitle" placeholder="Nhập Title Seo của danh mục...">
                    <span asp-validation-for="SeoTitle" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputAddress2" class="form-label">SeoKeyword</label>
                    <input type="text" class="form-control" asp-for="SeoKeyword" placeholder="Nhập từ khóa SEO cho danh mục...">
                    <span asp-validation-for="SeoKeyword" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputAddress2" class="form-label">SeoDescription</label>
                    <input type="text" class="form-control" asp-for="SeoDescription" placeholder="Nhập mô tả SEO cho danh mục...">
                    <span asp-validation-for="SeoDescription" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputCity" class="form-label">Loại danh mục</label>
                    <select class="form-control" id="ChooseCateType" asp-for="CategoryType" asp-items="@ViewBag.ListTypeCategory">

                    </select>
                    <span asp-validation-for="CategoryType" class="text-danger"></span>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label for="inputCity" class="form-label">Danh mục cha</label>
                    <select class="form-control" id="ChooseCateParent" asp-for="ParentCateId" asp-items="@ViewBag.ListParentCategories">
                        <option value="0">hello</option>
                    </select>
                    <span asp-validation-for="ParentCateId" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label for="inputAddress2" class="form-label">Mô tả chi tiết</label>
                    <textarea type="text" class="form-control" id="Detail" asp-for="Detail"></textarea>
                    <span asp-validation-for="Detail" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Thêm mới ngay</button>
                    <a class="btn mx-3 btn-secondary" asp-action="ListCatePro" asp-controller="Category" asp-area="Admin">Hủy bỏ</a>
                </div>
            </form>
        </div>
    </div>

</section>
@{
    var summerNote = new BonsaiShop.Areas.Admin.Models.SummerNote("#Detail");
    <partial name="_SummerNote" model="summerNote" />
}
@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {

            $("#ChooseCateType").on("change", function () {
                cateTypeId = $("#ChooseCateType").children(":selected").attr("value");
                LoadCateParent(cateTypeId);
            })

            cateTypeId = $("#ChooseCateType").children(":selected").attr("value");
            function LoadCateParent(cateTypeId) {
                
                $.ajax({
                    url: "/Admin/Category/LoadCateParent",
                    datatype: "json",
                    type: "GET",
                    data: {
                        "CateTypeID": cateTypeId,
                    },
                    async: true,
                    success: function (results) {
                        $("#ChooseCateParent").html(results.content)
                    },
                    error: function (xhr) {
                        alert("error")
                    }
                })
            }
            LoadCateParent(cateTypeId);
        });

    </script>
    
}
