@model BonsaiShop.Models.User
@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/Client/css/Login.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="limiter">
        <div class="login-session" style="background-image: url('/Client/images/background.jpg');">
            <div class="login-container">
                <div class="login-box">
                    <h4 class="login-header my-4">Quên mật khẩu</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-box mt-3">
                                    <label for="" class="input-label"></label>
                                    <input type="text" placeholder="Tên đăng nhập" id="UserName" asp-for="UserName" class="input-text">
                                    <span class="input-icon"><i class="fa-solid fa-user"></i></span>
                                    <span class="error-message"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-box mt-3">
                                    <label for="" class="input-label"></label>
                                    <input type="email" placeholder="Email xác nhận" asp-for="Email" class="input-text">
                                    <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
                                    <span class="error-message"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-button">
                            <button class="btn btn-success form-submit-btn btn-forget-pass">Tìm tài khoản</button>
                        </div>
                    <div class="other-login">
                        <p class="other-login-label">Hoặc đăng nhập với</p>
                        <div class="list-other-login">
                            <span class="other-login-item facebook-icon"><i class="fa-brands fa-facebook-f"></i></span>
                            <span class="other-login-item"><i class="fa-brands fa-twitter"></i></span>
                            <span class="other-login-item google-icon"><i class="fa-brands fa-google"></i></span>
                        </div>
                    </div>
                    <div class="change-action mt-4">
                        <span class="change-action-title">Chưa có tài khoản</span>
                        <a asp-action="Register" asp-controller="Account" class="change-action-link">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade  modal-forget-pass" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Thông tin tài khoản</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row forget-user-info">
                        <div class="col-12">
                            <div class="user-avarta text-center">
                                <img src="~/images/avatar-default.jpg" class="user-image" style="width: 70px; height: 70px; border-radius: 50%; margin-bottom: 10px;" />
                            </div>
                            <h4 class="user-name text-center"> Nguyễn Văn An </h4>
                            <p class="user-email text-center">An@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="" class="btn btn-primary btn-confirm-change">Xác nhận email</a>
                </div>
            </div>
        </div>
    </div>
    
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
@await Component.InvokeAsync("Notyf")
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".btn-forget-pass").on("click", function () {
            var username = $("#UserName").val();
            $.ajax({
                url: "/Account/GetInfoUser",
                type: "get",
                data: {
                    username: username,
                },
                success: function (data) {
                    if (data.status == 0) {
                        $(".user-image").attr('src', data.avarta)
                        $(".user-email").text(data.email)
                        $(".user-name").text(data.fullName)
                        $(".modal-forget-pass").modal("show")
                        $(".btn-confirm-change").attr("href", "/Account/ConfirmChangePass?username="+username)
                    } else {
                        toastr.error("Đang bị lỗi, vui lòng thử lại sau");
                    }
                },
            })
            
        });
    })
</script>
</html>