@model IList<BonsaiShop.Models.FeeShip>;
@{
    ViewData["Title"] = "Quản lý phí vận chuyển";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1 class="text-center">Phí vận chuyển</h1>
</div>

<div class="feeship-session">
    <div class="row">
        <div class="col-sm-12 col-xl-3 col-lg-3">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="add-feeship-box">
                        <form class="">
                            <div class="form-group">
                                <label class="form-lable">Tỉnh - Thành phố</label>
                                <select class="form-control choose" data-name="province" id="province" asp-items="@ViewBag.Provinces">

                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <label class="form-lable">Quận - Huyện</label>
                                <select class="form-control choose" data-name="district" id="districts">
                                    <option value="0">-------Chọn quận huyện-------</option>
                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <label class="form-lable">Khối - Phường - Thị xã</label>
                                <select class="form-control" data-name="commune" id="commune">
                                    <option value="0">---------Chọn thị xã---------</option>
                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <label class="form-lable">Phí vận chuyển</label>
                                <input class="form-control ship-price" placeholder="20.000 đ" />
                            </div>
                            <div class="form-group mt-5 mb-3">
                                <input type="button" class="form-control btn-add-feeship" value="Thêm mới" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-9 col-lg-9">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="table-feeship">
                        <table class="w-100 text-center">
                            <thead>
                                <tr class="text-nowrap text-center">
                                    <th>STT</th>
                                    <th>Tỉnh - Thành phố</th>
                                    <th>Quận - huyện</th>
                                    <th>Phường - Thị xã</th>
                                    <th>Phí vận chuyển</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody class="list-feeship">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UnBlockAccModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận khóa người dùng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="UserIdToBlock" />
                    Bạn có chắc chắn muốn mở khóa cho tài khoản này không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" class="btnConfirmBlock btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
        function DisplayDeleteModal(id) {
            $("#IdToDelete").val(id);
            $("#deleteModal").modal("show");
        }
        $(document).ready(function () {
            $("#btnConfirmDelete").on("click", function () {
                let IdToDelete = $("#IdToDelete").val();
                let UrlHandle = "/Admin/FeeShip/DeletePernament";

                $.ajax({
                    url: UrlHandle,
                    type: "Post",
                    data: {
                        IdToDelete: IdToDelete,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            $("#deleteModal").modal("hide");
                            LoadFeeship()
                            toastr.success('Xóa thành công');
                        } else {
                        }
                    },
                })
            });
            $('.choose').on('change', function () {
                var id = $(this).val();
                var action = $(this).data('name');
                var result = '';
                if(action == "province") {
                    result = "districts";
                } else if (action == "district") {
                    result = "commune"
                }

                $.ajax({
                    url: "/Admin/FeeShip/ChooseLocation",
                    type: "Post",
                    data: {
                        id: id,
                        action : action
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            $('#' + result).html(data.content);
                        }
                    },
                })
            });

            $(".btn-add-feeship").on("click", function() {
                var provinceid = $('#province').val();
                var districtsid = $('#districts').val();
                var communeid = $('#commune').val();
                var shipprice = $('.ship-price').val();

                $.ajax({
                    url: "/Admin/FeeShip/AddFeeship",
                    type: "Post",
                    data: {
                        provinceid: provinceid,
                        districtsid: districtsid,
                        communeid: communeid,
                        shipprice: shipprice
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            LoadFeeship()
                           toastr.success(data.message);
                        }
                    },
                })

            });

        });
    </script>

    <script type="text/javascript">
        
        function LoadFeeship() {
            $.ajax({
                url: "/Admin/FeeShip/LoadFeeship",
                type: "Post",
                data: {
                    
                },
                success: function (data) {
                    if (data.status == 0) {
                       $('.list-feeship').html(data.content);
                    } else {
                        alert("Error")
                    }
                },
            })
        }
        LoadFeeship()
    </script>
}